*{
    margin: 0;
    padding: 0;
}

body{
    padding: 30px;
}

.Grid-container{
    max-width: 320px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: auto;
    transform: translateY(50%);
    padding: 20px;
    border: 1px solid gray;
    border-radius: 8px;
    box-shadow: 2px 2px 1px rgba(197, 197, 197, 0.658);
    background-color: rgb(249, 241, 255);
}

#display{
    box-sizing: border-box;
    text-align: right;
    grid-column-start: 1;
    grid-column-end: 5;
    height: 50px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid gray;
    margin-bottom: 10px;
    background-color: white;
    overflow: hidden;
}

.button{
    margin: 1px;
    padding: 12px;
    background-color: rgb(132, 97, 189);
    border-radius: 4px;
    text-align: center;
    font-weight: bolder;
    color: white;
}

.op{
    background-color: rgb(95, 72, 133);
}

/* Hover effects */
.button:hover{
    background-color: rgb(120, 25, 187);
    box-shadow: 1px 1px 1px  rgb(28, 10, 51);
}

.op:hover{
    background-color: rgb(33, 5, 56);
    box-shadow: 1px 1px 1px  rgb(20, 17, 24);
}

/* buttons order */
#one{order: 1;}
#two{order: 2;}
#three{order: 3;}
#plus{order: 4;}

#four{order: 5;}
#five{order: 6;}
#six{order: 7;}
#minus{order: 8;}

#seven{order: 9;}
#eight{order: 10;}
#nine{order: 11;}
#multiply{order: 12;}

#clear{order: 13;}
#zero{order: 14;}
#equal{order: 15;}
#division{order: 16;}